/* Glassmorphic Styles */

.glass-container {
    background-color: var(--glass-bg-color);
    backdrop-filter: blur(var(--glass-blur));
    -webkit-backdrop-filter: blur(var(--glass-blur));
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} 